.select{
}

.top-select{
    position: absolute !important;
    right: 0 !important;
    max-width: 160px !important;
    width: 100% !important;
    @media(max-width: 1100px){
        position: relative !important;
    }
}

.form-select{
    .css-13cymwt-control,
    .css-t3ipsp-control{
        background: #ff6d6d;
    }
}

.css-13cymwt-control,
.css-t3ipsp-control{
    background: #e91eec;
    border-radius: 10px;
    cursor: pointer !important;
}

.css-1jqq78o-placeholder,
.css-1dimb5e-singleValue{
    color: #fff !important;
    font-family: var(--font-raleway);
    font-weight: 700;
    padding: 10px;
}